<div>
  <h1 class="c-h1 strong white">
    CRAFTING DIGITAL EXPERIENCES<br />THROUGH
    <span class="secondary">RESEARCH</span> &
    <span class="primary">STRATEGY</span>
  </h1>
</div>

<div class="grid-container">
  <div class="item" id="img1">
    <div class="icon"><img src="assets/icons/bag.svg" alt="" /></div>
    <div class="text-content">
      <h2 class="c-h2 title">Design</h2>
      <p class="c-p price">$100</p>
      <p class="c-p description">
        Get all the design elements you need to kick off your brand
      </p>
    </div>
  </div>
  <div class="item" id="img2">
    <div class="icon"><img src="assets/icons/bag.svg" alt="" /></div>
    <div class="text-content">
      <h2 class="c-h2 title">Marketing</h2>
      <p class="c-p price">$100</p>
      <p class="c-p description">
        We will take care of your brand so you can see it grow effortlessly
      </p>
    </div>
  </div>
  <div class="item" id="img3">
    <div class="icon"><img src="assets/icons/bag.svg" alt="" /></div>
    <div class="text-content">
      <h2 class="c-h2 title">Branding</h2>
      <p class="c-p price">$100</p>
      <p class="c-p description">
        If you already have a product but it needs a new face, let us take care
        of it
      </p>
    </div>
  </div>
  <div class="item" id="img4">
    <div class="icon"><img src="assets/icons/bag.svg" alt="" /></div>
    <div class="text-content">
      <h2 class="c-h2 title">Strategy</h2>
      <p class="c-p price">$100</p>
      <p class="c-p description">
        Receive all the instructions on how to use social media and use your
        brand
      </p>
    </div>
  </div>
</div>

<div class="divisor"></div>

<div class="table-container">
  <h1 class="c-h1 heavy white tabletitle">Our Partners</h1>

  <table class="table">
    <tbody>
      <!-- a table with 3 columns and 4 rows -->
      <tr>
        <td>
          <p class="c-p white">The Ordinary</p>
        </td>
        <td>
          <p class="c-p white type">Design</p>
        </td>
        <td>
          <p class="c-p white info">More info</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="c-p white">Santa Gloria</p>
        </td>
        <td>
          <p class="c-p white type">Strategy</p>
        </td>
        <td>
          <p class="c-p white info">More info</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="c-p white">Nike</p>
        </td>
        <td>
          <p class="c-p white type">Marketing</p>
        </td>
        <td>
          <p class="c-p white info">More info</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="c-p white">La quebradera</p>
        </td>
        <td>
          <p class="c-p white type">Branding</p>
        </td>
        <td>
          <p class="c-p white info">More info</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
