<div class="main">
  <div class="herotext">
    <h1 class="c-h1 secondary">JOYFUL</h1>
    <h1 class="c-h1 primary">DESIGN</h1>
  </div>
  <div class="carousel-container">
    <ul class="carousel">
      <li class="carousel-item">
        <img src="/assets/carrousel/image1.png" alt="hero image" />
      </li>
      <!--  <li class="carousel-item"><img src="assets/carrousel/image2.png" /></li>
        <li class="carousel-item"><img src="assets/carrousel/image3.png" /></li> -->
    </ul>
    <img
      class="carousel-btn prev"
      src="assets/icons/left-chevron.svg"
    />
    <img class="carousel-btn next" src="assets/icons/right-chevron.svg" />
  </div>
</div>
