<main class="container flex">
  <div class="logo" (click)="goToHome()">
    <h1 class="c-logo heavy">sil joq</h1>
  </div>
  <div class="newsletter">
    <p class="c-h4 heavy primary">Join our newsletter for amazing discounts</p>
    <div class="form">
      <input type="email" placeholder="Your email" class="input" />
      <button class="button-primary p-small heavy">Subscribe</button>
    </div>
  </div>
  <div class="socials">
    <img src="assets/icons/instagram.svg" alt="" class="icon instagram" />
    <img src="assets/icons/whatsapp.svg" alt="" class="icon whatsapp" />
    <img src="assets/icons/twitter.svg" alt="" class="icon twitter" />
    <img src="assets/icons/slack.svg" alt="" class="icon slack" />
  </div>
</main>
