<main class="container flex">
  <div class="flex-start">
    <div class="logo">
      <h1 class="c-logo">sil joq</h1>
    </div>
    <div class="nav flex">
      <a href="#" class="c-h4 primary light nav-item">Shop</a>
      <a href="#" class="c-h4 primary light nav-item">Collections</a>
      <a href="#" class="c-h4 primary light nav-item">About us</a>
    </div>
  </div>
  <div class="flex-end">
    <div class="icon secondary user">
      <img src="/assets/icons/user.svg" alt="User profile" />
    </div>
    <div class="icon secondary bag">
      <img src="/assets/icons/bag.svg" alt="bag icon" />
    </div>
    <div class="searchbar">
      <input type="search" placeholder="Search" />
      <img
        src="/assets/icons/search.svg"
        alt=""
        class="searchIcon icon secondary"
      />
    </div>
  </div>
</main>
